@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$breakpoint-tablet: 768px;

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.landing {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  @media only screen and (max-width: $breakpoint-tablet) {
    flex-direction: column;
    padding: 30px 0;
  }
}

.cadreListDiv {
  background: #f7f7ff;
  color: #262a41;
  padding: 30px 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  @media only screen and (min-width: $breakpoint-tablet) {
    height: 90vh;
    width: 40vw;
  }
  @media only screen and (max-width: $breakpoint-tablet) {
    margin: 40px 10px 10px;
    padding: 20px 10px;
    align-items: center;
  }
}

.cadreDiv {
  padding: 10px 25px;
  background: #fcfcff;
  max-height: 100%;
  width: 90%;
  border-radius: 15px;
  box-shadow: 6px 6px 3px 0 rgba(240, 240, 248, 1);
  -webkit-box-shadow: 6px 6px 3px 0 rgba(240, 240, 248, 1);
  -moz-box-shadow: 6px 6px 3px 0 rgba(240, 240, 248, 1);
  .smallText {
    font-size: 14px;
  }
  @media only screen and (max-width: $breakpoint-tablet) {
    width: 95%;
  }
}

.arrowBtn {
  padding: 12px;
  background: #30BBB5;
  box-shadow: 6px 6px 8px 0 #C5EBEB, -6px 6px 8px 0 #C5EBEB;
  border-radius: 5px;
  border-style: none;
  &:hover, &:focus {
    background: #299C97;
    box-shadow: 8px 8px 12px 0 #aadede, -8px 8px 12px 0 #aadede;
    transition: background 0.2s ease-in;
    outline: none;
  }
}

.downloadBtn {
  padding: 10px;
  background: #7946C1;
  color: white;
  border-radius: 12px;
  border-style: none;
  outline: none;
  position: absolute;
  bottom: 10%;
  &:hover, &:focus {
    background: #582D94;
    outline: none;
  }
  @media only screen and (max-width: $breakpoint-tablet) {
    position: relative;
    bottom: unset;
  }
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 50vw;
  .heading {
    font-size: 45px;
    font-weight: 800;
  }
  .subHeading {
    color: #B4B5BD;
  }
  @media only screen and (max-width: $breakpoint-tablet) {
    width: 100vw;
    .heading {
      font-size: 35px;
      margin-bottom: 20px;
    }
  }
}

.widgetDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: $breakpoint-tablet) {
    height: 50vh;
  }
}

.widget {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  border-style: none;
  outline: none;
  background: #7946C1;
  &:hover {
    background: #582D94;
  }
}

.formCancel {
  cursor: pointer;
  color: red;
  margin-top: 15px;
  &:hover {
    color: #9e0909;
  }
}

.newCadre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  .pageForm {
    @extend .cadreListDiv;
    height: 70vh;
    max-height: 90vh;
    width: 40%;
    @media only screen and (max-width: $breakpoint-tablet) {
      width: 92%;
      align-items: start;
      margin-top: 25px !important;
      .row > div {
        margin-top: 10px;
      }
    }
  }
}

.purpleButton {
  @extend .downloadBtn;
  padding: 10px 50px;
  position: relative;
  bottom: inherit;
  width: 200px;
  margin-top: 15px;
}

.greenButton {
  @extend .arrowBtn;
  color: white;
  padding: 10px 50px;
  position: relative;
}

.greyButton {
  @extend .greenButton;
  background: gray;
  box-shadow: 6px 6px 8px 0 #d7dbdb, -6px 6px 8px 0 #b1b3b3;
  &:hover, &:focus {
    background: grey;
    box-shadow: 8px 8px 12px 0 #c3c7c7, -8px 8px 12px 0 #949797;
  }
}

.backArrow {
  cursor: pointer;
  margin-right: 30px;
  &:hover {
    color: #B4B5BD;
  }
  @media only screen and (max-width: $breakpoint-tablet) {
    position: absolute;
    left: 10px;
  }
}

.analysisResult {
  line-height: 30px;
  .deductions {
    font-size: 12px;
  }
  .gross {
    font-size: 20px;
    font-weight: bold;
  }
}
